.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #000;
}

body {
  color: #000;
}

/* Custom Styles */
/* Article Index Component */
.editor-container {
  padding: 1em;
  margin: 1em;
  user-select: none;
  outline: none;
}

.editor-container:focus-visible {
  outline: none;
  user-select: none;
}

.editor-container > button {
  border: none;
  background-color: #efefef;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 4px;
}

.editor-container > div {
  border: 1px solid black;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 3px 2px 8px #000;
}

.strikethrough {
  text-decoration: line-through;
}

/* Remove the outline from the RTE */
* {
  outline: none;
}






/* Tag buttons */

.tags-container {
  border: 1px solid black;
  width: 100%;
  height: auto;
  padding: 1em;
  margin: 0.2em
}

.tag {
  display: inline-block;
  margin: 0.2em;
  border: 1px solid #000;
  padding: 0.1em;
  border-radius: 8px;
}


@import './styles/ArticleIndexStyles.css'; /* Universal Styles */
