.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: #000;
}

body {
  color: #000;
}

/* Custom Styles */
/* Article Index Component */

*::before,
*::after,
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.editor-container {
  padding: 1em;
  margin: 1em;
  user-select: none;
  outline: none;
}

.editor-container:focus-visible {
  outline: none;
  user-select: none;
}

.editor-container > button {
  border: none;
  background-color: #efefef;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 4px;
}

.editor-container > div {
  border: 1px solid black;
  border-radius: 8px;
  padding: 1em;
  box-shadow: 3px 2px 8px #000;
}

.strikethrough {
  text-decoration: line-through;
}

/* Remove the outline from the RTE */
* {
  outline: none;
}

/* Tag buttons */

.tags-container {
  border: 1px solid black;
  width: 100%;
  height: auto;
  padding: 1em;
  margin: 0.2em;
}

.tag {
  display: inline-block;
  margin: 0.2em;
  border: 1px solid #000;
  padding: 0.1em;
  border-radius: 8px;
}

/* Admin Panel Styles */
.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.user-item {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

.user-item > div {
  margin-bottom: 0.3em;
}

.chart {
  padding: 3em;
}

/* Navigation styles */

nav {
  background-color: #67bec7;
  padding: 1.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 4px 4px #717171;
/*   position: fixed;
  width: 100%;
  top: 0;
  left: 0; */
}

.nav-link {
  margin: 0.5em;
  font-size: 1.2em;
}

/* Landing Page Styles */

.landing-page-container {
/*   margin-top: 95px; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'navSidebar ArticleIndex ArticleIndex ArticleIndex .'
    'navSidebar ArticleIndex ArticleIndex ArticleIndex .'
    'navSidebar ArticleIndex ArticleIndex ArticleIndex .'
    'navSidebar ArticleIndex ArticleIndex ArticleIndex .'
    'navSidebar ArticleIndex ArticleIndex ArticleIndex .';
}

/* Left Homepage Sidebar styles */

.NavSidebar-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  grid-area: navSidebar;
  /*   border: 1px solid #000; */
  flex-grow: 1;
  box-shadow: 1px 2px 4px #717171;
  box-sizing: border-box;
}

.nav-item-sidebar {
  box-sizing: border-box;
  padding: 0.6em;
  margin: 0.7em 0em;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 2px 4px #717171;
}

.nav-item-sidebar:nth-child(1) {
  margin-top: 1.5em;
}

/* Article Index Styles */
.ArticleIndex-container {
  grid-area: ArticleIndex;
  padding: 1em;
  height: 200vh;
  overflow: scroll;
}

.card {
  border: 1px solid #c7c0c0;
  margin: 1em;
  padding: 0.7em;
  border-radius: 7px;
  box-shadow: 3px 2px 4px rgb(193, 184, 184);
  cursor: pointer;
  width: 100%;
}

.bold {
  font-weight: 700;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sort-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.index-item-title {
  margin: 0.5em 0em;
}

.link {
/*   height: 100%;
  width: 100%;
  box-sizing: content-box; */
}

/* Info Sidebar */

.info-sidebar-container {
  box-shadow: 1px 2px 4px #717171;
  padding: 0.7em;
}

@import './styles/ArticleIndexStyles.css'; /* Universal Styles */
